<div class="card">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, sunt facilis. Atque eveniet porro officia
			beatae maxime voluptate nesciunt laborum odit reprehenderit a iste molestiae, blanditiis velit fugiat libero
			distinctio enim. Sit porro sapiente odio architecto, nisi excepturi laudantium qui.
		</p>
	</div>
</div>
