<div class="jumbotron mt-4">
	<h1 class="display-4">Notes App Nodejs and Mongodb</h1>
	<p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, aspernatur quae odio corporis voluptas
		consequuntur commodi ducimus sunt incidunt fugiat, maiores voluptatibus? Debitis accusantium dignissimos doloribus
		magni quasi perspiciatis provident.</p>
	<a href="http://fashionbiz20.com" class="btn btn-primary btn-lg">Fashionbiz2.0</a>
</div>
